 <style>
   p { 
  color: black; 
  font-weight: normal; 
  font-family: sans-serif;
  }
  h1{color:blue;
  font-weight:normal;
  text-decoration: underline;}
  h2{color:#FF0000;
  font-weight:normal;
  text-decoration: underline;
  }
   body { line-height:2;
    background: #FFA500 ; 
    border: 2px solid blue;
     ;
   }
  h2{ *color: blue;
  </style>